<p><%= info = @users[@user] %></p>

<h1><%= @user.to_s %></h1>

<h3>Email Address: </h3>
<ul>
  <li><%= info[:email] %></li>
</ul>

<h3>Interests:</h3>
<ul>
  <li><%= info[:interests].join(", ") %></li>
</ul>

<nav>
  <ul>
    <% @users.each_key do |user| %>
      <% next if user == @user %>
      <li><%= display_user(user) %></li>
    <% end %>
  </ul>
</nav>
